* {
	margin:0;
	padding:0;
	
	--background-lavender:#D8E4FF;
	--font-dark:#050517;
	--link-orange:#EC9A29;
	--border-green:#7DC95E;
	--project-color:#5E503F;
}

body {
	background-color:var(--background-lavender);
	color:var(--font-dark);
}
.container {
	text-align:center;
}
.nav-lists a:hover {
	color:var(--font-dark);
	box-shadow: 10px 5px 5px var(--link-orange);
}

.skills-ul {
	display:grid;
	grid-template-columns:repeat(3,1fr);
	list-style:none;
	padding:1rem;
	grid-gap:.8rem;
	text-align:center;
}

.skill-lists {
	padding:.8rem;
	border:2px dashed var(--border-green);
}

h2 {
	padding:.8rem;
}
p {
	padding:.8rem;
	line-height:1.4;
}
form {
	padding:1rem 0;
}

.project-ul {
	display:grid;
	grid-template-columns:repeat(5,1fr);
	list-style:none;
}
.project-lists a {
	text-decoration:none;
	color:var(--project-color);
	margin:.5rem 0;
}

.project-lists a:hover {
	color:whitesmoke;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

#subject {
	width:100%;
	padding:12px 20px;
	margin:8px 0;
	box-sizing:border-box;
}

.btn {
	padding:.5rem;
}
.footer {
	display:flex;
	align-items:center;
	justify-content: space-between;
}
.socials-img {
	width:40px;
	height:40px;
	padding:0 .5rem;
}

.messages {
	display:flex;
	align-items:center;
}

.deleteBtn {
	color:white;
	background-color:red;
	padding:.5rem;
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (max-width : 480px) {
/* Styles */

	.container {
		display:grid;
		grid-template-rows:.5fr 1fr .5fr;
		grid-template-columns:1fr;
		max-width:100%;
		height:100vh;
		text-align:center;
		padding:1rem;
	}
	.nav {
		display:flex;
		flex-direction:row;
		width:100%;
		
	}
	.nav-ul {
		padding:.5rem;
		width:100%;
	}

	.nav-lists {
		padding:1rem 0;
		text-align:center;
		list-style:none;
	}
	.nav-lists a {
		text-decoration:none;
		border:1px solid var(--link-orange);
		display:block;
		padding:.8rem;
		color:var(--link-orange)
	}

	.skills-ul {
		display:grid;
		grid-template-columns:repeat(2,1fr);
	}
	
}	
 
.project-ul {
	display:grid;
	grid-template-columns:repeat(2,1fr);
	grid-gap:1rem;
	list-style:none;
}


.footer {
	display:flex;
	align-items:center;
	justify-content: space-between;
}
.socials-img {
	width:25px;
	height:25px;
	padding:0 .2rem;
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 481px) {
/* Styles */
	.container {
		margin:0 auto;
		display:grid;
		grid-template-rows:.3fr 1fr .5fr;
		justify-content:center;
		width:1225px;
		height:100vh;
	}
	.nav {
		justify-content:center;
		display:flex;
		align-items:center;
	}
	.nav-ul {
		display:flex;
	}
	.nav-lists{
		display:flex;
		padding:1rem;
	}
	.nav-lists a {
	text-decoration:none;
	color:var(--link-orange);
	border:1px solid var(--link-orange);
	padding:1rem;
	}
	
}
